<div class="app">
	<header class="header">
		<app-admin-header (ChangeTheme)="ChangeTheme($event)"></app-admin-header>
	</header>
	<body>
		<mat-drawer-container class="admin-mat-drawer-container">
			<mat-drawer class="admin-mat-drawer" mode="side" opened>
				<app-draw-container></app-draw-container>
			</mat-drawer>

			<mat-drawer-content class="admin-mat-drawer-content">
				<ul>
					<li>
						<a routerLink="./index" routerLinkActive="active">index</a>
					</li>
				</ul>
				<app-admin-body></app-admin-body>
			</mat-drawer-content>
		</mat-drawer-container>
	</body>
	<footer class="footer"></footer>
</div>
